/*
 * These are specific to the extension's popup and don't apply to the options page
 */
body {
    width: 770px;
    margin: 10px;
}

/*
 * Get rid of the ugly horizontal scrollbar issue
 * We can't remove it entirely, but we can theme it so it's white
 */
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 8px;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgb(127, 127, 127);
}
